apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: govivint
  namespace: govivint
data:
  VIVINT_USERNAME: "dGVzdA==" # test
  VIVINT_PASSWORD: "dGVzdA==" # test
  POSTGRES_USER: "dGVzdA==" # test
  POSTGRES_DB: "dGVzdA==" # test
  POSTGRES_PASSWORD: "dGVzdA==" # test

